*{
	font-family: "Oswald",sans-serif;
	padding: 0;

}
/*-------------------Header--------------------------------*/

header ul{
	background-color: #1C1C1C;
}
header ul li{
	list-style: none;
	display: inline-block;
	padding: 15px 20px;
	margin-left: 50px;
}
header ul li a{
	color: #00FF40;
}
header .uno{
	border-style: none;
}

/*-------------------Hero section--------------------------------*/
.name{
	background-image: url(../images/fondoarcoiris.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	border-image: 2px dotted black;
}
.name img{
	margin: 50px;
	position: relative;
	left:180px;
	top:35px;
	text-align: center;
}
.name h1{
	font-family: 'Kaushan Script', cursive;
	color: white;
	text-align: center;
	font-size: 40px;
}
.name h2{
	font-family: 'Tangerine', cursive;
	color: white;
	text-align: center;
	font-size: 36px;
	padding: 15px;
}
/*----------------Description-----------------*/
 h3{
	text-align: center;
	font-family: 'Grand Hotel', cursive;
	color: purple;
	font-size: 31px;
	background: black;
	padding: 15px;
}
.container img{
	height: 140px;
	text-align: center;
	border: 2px solid purple;
}


/*--------------------Likes-----------------*/

.likes h5{
	text-align: center;
	font-family: 'Grand Hotel', cursive;
	color: pink;
	font-size: 23px;
	background: black;
	padding: 15px;
}
.likes img{
	border-radius: 100%;
	text-align: center;
	margin-right: 30px;
}
/*--------------Footer-------------------*/
.links{
	text-align: center;
	
}
footer a{
	margin-right: 40px;
}