font-family: 'Kaushan Script', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Grand Hotel', cursive

.name{
	background-image: url(../images/fondoarcoiris.jpg);
	background-repeat: no-repeat;
	height: 800px;

}